html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* disable scrollbar and scrolling */
  height: 100%;
  width: 100%;
}
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

canvas {
  display: block;
  user-select: none;
  touch-action: none;
}
